/* section-1 */
.btn-style-two, .theme-btn{
    /* background-color: #ce1432; */
    background-color: #26A1DC;


  }
  
  .btn-style-one.blue{
      background-color: #27a3e2;
  }
  
  
  .btn-style-two:hover,.btn-style-two:active, .theme-btn:hover, .theme-btn:active{
    background-color: #ce1432;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
  }
  .btn-style-two:active,.theme-btn:active{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    border: 1px solid black;
  }
  .btn-style-two:before, .theme-btn:before{
    display: none;
  
  }
  
  .btn-style-one.blue:hover{
      background-color: #27a3e2;
      box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
  }
  
   .call-btn-design-side {
      display: block;
      width: 100%;
      font-size: 1.2rem;
      background-color: #dc3545;
  
      background-image: linear-gradient(#dc3545, #d32535,#bd2130, #a71d2a,#a71d2a, #bd2130, #d32535, #dc3545);
  
  
      color: #fff;
      padding: 8px;
      border-radius: 40px;
      transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
   .call-btn-design-side:hover {
      color: white !important;
      transform: translateY(-5px);
      box-shadow: 0px 15px 10px 0px rgba(0,0,0,0.3);
  }
  
  .call-btn-design-side .icon-container {
      background-color: #fff;
      height: 30px;
      width: 30px;
      color: #dc3545;
      text-align: center;
      border-radius: 100%;
      float: left;
  }
  
   .call-btn-design-side .icon-container i {
      text-align: center;
      font-size: .8rem;
      line-height: 30px;
      display: block;
  }
  
  i.rotated {
      -webkit-transform: rotate(-270deg);
      transform: rotate(-270deg);
  }
  
  .each_service_package .icon_container img{
      min-height: 65px !important;
      max-height: 65px !important;
  }
  .each_service_package .icon_container{
      min-height: 80px !important;
      max-height: 80px !important;
  }
  .each_service_package{
      min-height: 170px;
  }

/* section-2 */
.each_af_features .icon_container{
    min-width: 40px;
    width: 40px;
}
.each_af_features .text_container{
    width: calc(100% - 40px);
}

.each_af_features{
    min-height: auto;
    padding: 20px 5px;
}

@media only screen and (max-width: 767px){
    .each_af_features{
    min-height: auto;
    padding: 5px 5px;
}
.each_af_features .text_container h3{
    font-size: 0.7rem;
}
}



/* section-3 */
.owl-theme .owl-dots .owl-dot.active span,  .owl-theme .owl-dots .owl-dot:hover span{
    background: #27a3e2 !important;
}


/* section-4 */
@media only screen and (min-width: 991px){
    .no_after.sec-title.text-center .devider:after{
        display: none;
    }
}


/* section-5 */
.our_partners_wrapper .each_item_wrapper img{
    filter: none;
}

/* section-6 */
.call-to-action-two:before{
    background-image: url('public/front/images/icons/dotted-map.png');
}

.max400{
    max-width: 400px;
    margin: 0px auto;
}

/* section-7 */
.each_service_package .icon_container img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    min-height: 80px;
    max-height: 80px;
    opacity: 0.7;
}

/* section-8 */
.footer_new:before{
    background-image: url('public/front/images/icons/dotted-map.png');
}


/* section-9 */
.login_sign_up_wrapper{
    width: 300px;
    max-width: 100%;
    display:block;
    margin: 0px auto;
}
.loginSignUpDsg{
    border: 1px solid #d9d9d9;
    margin-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    border-radius: 10px;
    text-align:center;
}
.loginSignUpDsg li{
    background-color: #f2f2f2;
    padding: 10px 15px;
    width: 50%;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.loginSignUpDsg li:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.loginSignUpDsg li:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.loginSignUpDsg li.active{
    background-color: #27a3e2;
    color: white;
}

/* section-10 */
.whatsappIconFixedIcon {
    position: fixed;
    right: 30px;
    bottom: 44px;
    z-index: 9999;
    display: inline-block;
    text-align: center;
}
.whatsappIconLink {
    display: block;
    height: 50px;
    width: 50px;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    position: relative;
    padding: 1px;
    z-index: 9999;
    background-color: #25d366;
    border-radius: 100%;
    padding: 6px;
}

.errMsg{
    background-color: rgba(242,161,25, 0.1); padding: 2px 5px; border-radius: 10px; border: 1px solid darkorange
}

.owl-stage{
    transform: translate3d(-1140px, 0px, 0px); transition: all 0s ease 0s; width: 3420px;

}


/* our clients */

#clients h3 {
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
}

#clients p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
}

#clients {
    padding: 60px 0;
    
}
#clients .clients-wrap {
    border-top: 1px solid #d6eaff;
    border-left: 1px solid #d6eaff;
    margin-bottom: 30px;
}

#clients .client-logo {
    padding: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #d6eaff;
    border-bottom: 1px solid #d6eaff;
    overflow: hidden;
    background: #fff;
    height: 160px;
}

#clients img {
    transition: all 0.4s ease-in-out;
}
 
/* end ourclients */

.content_package h3{
    text-align: center;
}

/* myaccount */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.wrapper-myaccount{
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-myaccount{
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 600px;
}
.wrapper-myaccount h4{
    letter-spacing: -1px;
    font-weight: 400;
}
.wrapper-myaccount .img{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover;
}
.wrapper-myaccount #img-section p,#deactivate p{
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
    text-align: justify;
}
.wrapper-myaccount #img-section b,#img-section button,#deactivate b{
    font-size: 14px; 
}

.wrapper-myaccount label{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
}

.wrapper-myaccount .form-control{
    border-radius: 10px;
}

.wrapper-myaccount input[placeholder]{
    font-weight: 500;
}
.wrapper-myaccount .form-control:focus{
    box-shadow: none;
    border: 1.5px solid #0779e4;
}
.wrapper-myaccount select{
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    /* -webkit-appearance: none; */
}

.wrapper-myaccount select:focus{
    outline: none;
}
.wrapper-myaccount .button{
    background-color: #fff;
    color: #0779e4;
}
.wrapper-myaccount .button:hover{
    background-color: #0779e4;
    color: #fff;
}
.wrapper-myaccount .btn-primary{
    background-color: #0779e4;
}
.wrapper-myaccount .danger{
    background-color: #fff;
    color: #e20404;
    border: 1px solid #ddd;
}
.wrapper-myaccount .danger:hover{
    background-color: #e20404;
    color: #fff;
}
@media(max-width:576px){
    .wrapper-myaccount{
        padding: 25px 20px;
    }
    .wrapper-myaccount #deactivate{
        line-height: 18px;
    }
}

.important-section a{
    color: #777777;
}

.important-section .flex-wrap:hover{
    color:white;
    background-color: #777777 !important;
    border-radius: 5px;
}



/* plan style */
  
  
  
.plancard p {
    font-size: 14px;
}

.plancard .btn-primary{
    background-color: #42A5F5 !important;
    border-color: #42A5F5 !important;
}

.plancard .cursor-pointer {
    cursor: pointer;
    color: #42A5F5;
}

.plancard .pic {
    margin-top: 30px;
    margin-bottom: 20px;
}

.plancard .card-block {
    width: 200px;
    border: 1px solid lightgrey;
    border-radius: 5px !important;
    background-color: #FAFAFA;
    margin-bottom: 30px;
}

.plancard .card-body.show {
    display: block;
}

.plancard .card {
    padding-bottom: 20px;
    box-shadow: 2px 2px 6px 0px rgb(200, 167, 216);
}

.plancard .radio {
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}


.plancard .radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.plancard .radio.selected {
    box-shadow: 0px 8px 16px 0px #EEEEEE;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
}

.plancard .selected {
    background-color: #E0F2F1;
}

.plancard .a {
    justify-content: center !important;
}


.plancard .btn {
    border-radius: 0px;
}

.plancard .btn,
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}



/* Paymentgeway css */
.payment_getway  .form-control:focus {
    border-color: #4ca746;
}

.payment_getway .padding{
    padding: 5rem !important;
}

.rccs__card--front{
background-color: #36096d  !important;
background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%) !important;
}
.App-payment{
    background-color:#E6E6E6;
    border-radius: 10px;
    margin:20px
}
